{% extends "src/base.html" %}
{% load staticfiles %}
{% block title %}Disclaimer | {{ block.super }}{% endblock %}
{% block section %}
		
		<main id="main" class="main">
	
			<header class="page-header">
				<div class="page-header-inner">
					<div class="container">
						<div class="page-header-content text-center">
							<h2>Disclaimer</h2>
						</div>
					</div>
				</div>
			</header>
			
			<section id="about-us" class="section-negative">
				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<div class="page-description mb-60 mt-60">
								<p>The society is fraught with challenges that have made it difficult for people to dream and thrive due to lack of basic amenities that is taken for granted in more advanced countries.</p>
							</div>
						</div>
					</div>
						
				
				</div>
			</section>
						
		</main>

{% endblock %}